:root { scroll-behavior : auto }
.main{
    background-color: lightgray;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.list-group{
    height: 0px;
    transition: all 1s;
    overflow: hidden;
}
.flex{
    height: 206px;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 6;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 
.block{
    visibility: visible;
    opacity: 1;
}
.light{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid gray;

}
.dark{
    background-color: black;
    color: white;
    border: none;
}

.carousel{
    width: 300vw;
    display: flex;
    justify-content: start;
    transition: all 1s;    
}
.box{
    width: 100%;
}
.box img{
    width: 100%;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar-brand{
    font-size : 40px;
    transition : all 1s;
}
